
@media screen {
  body {
    margin: 0;
  }
  img {
    border: 0;
  }
  button,
  input {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
  }
  .input-email{
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #00857f;
    padding: 6px 12px;
    color: #00857f;
  }
  button,
  input {
    line-height: normal;
  }
  button {
    text-transform: none;
  }
  button {
    cursor: pointer;
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  @media print {
    * {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      box-shadow: none !important;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    img {
      max-width: 100% !important;
    }
  }
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
  }
  input,
  button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  img {
    vertical-align: middle;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row:before,
  .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }
  .row:before,
  .row:after {
    display: table;
    content: " ";
  }
  .row:after {
    clear: both;
  }
  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 2px;
  }
  @media (min-width: 992px) {
    .col-md-12 {
      width: 100%;
    }
  }
  table {
    max-width: 100%;
    background-color: transparent;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus {
    color: #333333;
    text-decoration: none;
  }
  .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  .btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .label-warning {
    background-color: #f0ad4e;
  }
}
/*! CSS Used from: https://devevtp2.viettelpost.vn/assets/css/main.css ; media=screen */
@media screen {
  * {
    box-sizing: border-box;
  }
  button,
  .btn {
    transition: all 0.2s linear 0s;
    outline: none !important;
  }
  body {
    font-family: "Muli", Arial;
    font-size: 14px;
    color: #333;
    overflow: auto;
    padding-left: 240px;
    background: #f6f8fa;
    transition: all 0.3s ease-out 0s;
    height: 100%;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 3px;
  }
}
/*! CSS Used from: https://devevtp2.viettelpost.vn/assets/css/style.css ; media=screen */
@media screen {
  img {
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
  button,
  input {
    margin: 1px;
    font-size: 100%;
    vertical-align: middle;
  }
  button,
  input {
    overflow: visible;
    line-height: normal;
  }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  button {
    -webkit-appearance: button;
    cursor: pointer;
  }
  button {
    cursor: pointer;
  }
  @media print {
    * {
      text-shadow: none !important;
      box-shadow: none !important;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
  }
  [class^="z-icon-"] {
    display: inline-block;
    font-family: ZK85Icons, FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    transform: translate(0, 0);
  }
  [class^="z-icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
  }
  .z-icon-copyright:before {
    content: "\f1f9";
  }
  body {
    height: 100%;
  }
  [class^="z-"],
  [class*=" z-"],
  [class^="z-"]:after,
  [class*=" z-"]:after,
  [class^="z-"]:before,
  [class*=" z-"]:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  input,
  input:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    -webkit-user-select: text;
  }
  *:focus {
    outline: 0;
  }
  body {
    margin: 0;
    padding: 0 0px;
  }
  .z-label {
    line-height: normal;
    word-break: break-word;
    white-space: normal;
  }
  .z-label {
    font-family: CoreSansGS45;
    font-size: 13px;
    font-weight: normal;
  }
  .z-button-primary {
    background-color: #00857f;
    color: white !important;
  }
  .z-button {
    padding: 0 20px;
    line-height: 28px;
    height: 30px;
    text-transform: uppercase;
    font-family: CoreSansGS45;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.2s linear 0s;
    outline: none !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .z-button:hover {
    border-color: #00928c;
    color: #f6f8fa;
    background-color: #00928c;
  }
  .z-button:focus {
    border-color: #00928c;
    color: #f6f8fa;
    background-color: #00928c;
  }
  .z-button:active {
    color: #fff;
    border-color: transparent;
    background-color: #0064ed;
  }
  .z-hbox {
    border-spacing: 0;
  }
  .z-hbox td {
    padding: 0;
    background-clip: padding-box;
  }
  .z-textbox {
    font-family: CoreSansGS45;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.9);
    height: 30px;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 8px;
    line-height: 15px;
    background: #fff;
  }
  .z-textbox:hover {
    border-color: #a8a8a8;
  }
  .z-textbox:focus {
    border-color: #0093f9;
  }
  .z-textbox::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.34);
  }
  .z-textbox:-moz-placeholder {
    color: rgba(0, 0, 0, 0.34);
    opacity: 1;
  }
  .z-textbox::-moz-placeholder {
    color: rgba(0, 0, 0, 0.34);
    opacity: 1;
  }
  .z-textbox:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.34);
  }
  .z-vlayout {
    overflow: hidden;
  }
  .z-vlayout-inner {
    position: relative;
  }
  ::-webkit-scrollbar {
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #00857f;
    border-radius: 6px;
  }
}
/*! CSS Used from: https://devevtp2.viettelpost.vn/assets/css/viettelpost.css ; media=screen */
@media screen {
  .z-label-copyright {
    position: fixed;
    bottom: 1px;
    left: 1px;
    z-index: 99;
    background-color: #fff;
    opacity: 0.7;
    border-top-right-radius: 5px;
    padding: 1px 6px;
    font-size: 11px;
  }
  .z-label-copyright-text {
    font-size: 11px;
  }
  .z-login-box {
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
  }
  .logo {
    ddisplay: inline-block;
    background-color: white;
    position: relative;
    width: 350px;
    height: 100px;
    margin: 25px 25px 0 25px;
    padding: 0px;
  }
}

